{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
    {% if error %}
        <p class="alert">{{error.messageKey|trans(error.messageData, 'security')}}</p>
    {% endif %}
    
    {{ form(loginForm) }}
    <a class="forgetPassword" href="{{path('forget_password')}}">Mot de passe oublié</a>
{% endblock %}
